{% extends "layout.html" %}
{% load static %}


{% block application %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Best Page In The Universe</title>
    <link rel="shortcut icon" href="{% static 'images/about_censorship.ico' %}">
    <!-- Should not use normalize.css with bootstrap -->
    <!-- Bootstrap: Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Bootstrap: Optional theme -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"> -->

    <!--
      application.css is where you put your styles
    -->
    <link rel="stylesheet" href="{% static 'stylesheets/application.css' %}">
  </head>

  <body>



<div class="container">

<div class="row">
  <div class="col-md-12">


    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

            <!-- <img src="{% static 'images/top_left.png' %}" alt=""> -->
            <img src="{% static 'images/top_left.png' %}" alt="">

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <form class="navbar-form navbar-left" role="search" id="search_form" name="input" action="/search" method="post">
            <div class="form-group">
              <input type="text" name="searched_str" class="form-control" placeholder="Search for knowledge and truths">
            </div>
            <button type="submit" class="btn btn-default">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </form>

          <ul class="nav navbar-nav navbar-right"  style="padding-right:0px">
          <li>
            <div class="panel-body">
              Sida Zhou
            </div>
          </li>

          <li>
          <!-- <a class="sd_goto_landing"> -->

            <div class="panel-body" style="padding-left:0px">
              <button class="sd_goto_landing" > Home  </button>
            </div>
          <!-- </a> -->
          </li>

            <li>
                <img src="{% static 'images/top_right.png' %}" alt="">

            </li>
          </ul>
        </div><!-- /.navbar-collapse -->


      </div><!-- /.container-fluid -->
    </nav>



  </div>
</div> <!-- .row -->

<div class="row">
<div class="col-md-2">

<!-- http://www.bootply.com/uBoT3zP1P2 -->

<!-- http://stackoverflow.com/questions/18432577/stacked-tabs-in-bootstrap-3 -->
    <ul class="nav nav-pills nav-stacked" id="myTabs">
      <li class="active"><a href="#tab_landing">About me</a></li>
      <li><a href="#tab_datasci">Projects (Datasci)</a></li>
      <li><a href="#tab_web">Projects (Web)</a></li>
      <li><a href="#tab_science">Projects (Science)</a></li>
      <li><a href="#tab_contactme">Contact me</a></li>
    </ul>


            <div class="panel-body well">
              <img src="{% static 'images/sidazhou.png' %}" alt="" width="120px" class="img-responsive img-rounded">

              <hr style="margin: 2px 0;">
              <b>Email</b><br>
              sidazhou@gmail.com<br>
              <hr style="margin: 2px 0;">

              <b>Phone</b><br>
              +86 185 1065 1801<br>
              <hr style="margin: 2px 0;">
            </div>



</div>



<div class="col-md-10">


    <div class="tab-content">
      <div class="tab-pane active" id="tab_landing">
        <div class="jumbotron">


        <p>Profile: </p>
        <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
        <script type="IN/MemberProfile" data-id="https://www.linkedin.com/pub/sida-zhou/69/766/42b" data-format="inline" data-related="false" data-width="400"></script>
        <br>

        &nbsp;&nbsp;&nbsp;<a href="https://www.dropbox.com/s/9sc6ye4ni5rqgsd/Sida_Zhou_resume_lhl.pdf?dl=0">
             <button type="button" class="btn btn-info"> <span class="glyphicon glyphicon-link" aria-hidden="true"></span> My Resume</button>
        </a>
        <br>

        <hr width="100%" style="margin: 10px 0;">
        <p>Projects (datasci): </p>

        <div class="row">
          {% for datasci_project in datasci_projects %}
            <div class="col-md-4">
              <a href="#" class="thumbnail sd_goto_ds{{ datasci_project.id }}">
                <img src="{% static datasci_project.thumb_url %}" alt="..." />
              </a>
            </div>
          {% endfor %}
        </div> <!-- row -->

        <hr width="100%" style="margin: 10px 0;">
        <p>Projects (web): </p>

        <div class="row">
          {% for web_project in web_projects %}
            <div class="col-md-4">
              <a href="#" class="thumbnail sd_goto_w{{ web_project.id }}">
                <img src="{% static web_project.thumb_url %}" alt="..." />
              </a>
            </div>
          {% endfor %}

        </div> <!-- row -->

        <hr width="100%" style="margin: 10px 0;">

        <p>Projects (science): </p>

        <div class="row">
          {% for science_project in science_projects %}
            <div class="col-md-4">
              <a href="#" class="thumbnail sd_goto_s{{ science_project.id }}">
                <img src="{% static science_project.thumb_url %}" alt="..." />
              </a>
            </div>
          {% endfor %}
        </div> <!-- row -->


        </div>
      </div>



      <div class="tab-pane" id="tab_datasci">
        <div class="jumbotron">

          <ul class="nav nav-tabs">
          {% for datasci_project in datasci_projects %}
            <li class="{% if datasci_project.id == "1" %}active{% endif %}">
              <a href="#tab_ds{{ datasci_project.id }}" data-toggle="tab"><b>{{ datasci_project.title }}</b></a>
            </li>
          {% endfor %}
          </ul>


          <div class="tab-content">
          {% for datasci_project in datasci_projects %}
            <div class="tab-pane {% if datasci_project.id == "1" %}active{% endif %}" id="tab_ds{{ datasci_project.id }}">
            {{ datasci_project.html_body | safe }}
            </div>
          {% endfor %}
          </div>

        </div>
      </div> <!-- <div class="tab-pane" id="tab_datasci"> -->


      <div class="tab-pane" id="tab_web">
        <div class="jumbotron">

          <ul class="nav nav-tabs">
          {% for web_project in web_projects %}
            <li class="{% if datasci_project.id == "1" %}active{% endif %}">
              <a href="#tab_w{{ web_project.id }}" data-toggle="tab"><b>{{ web_project.title }}</b></a>
            </li>
          {% endfor %}
          </ul>


          <div class="tab-content">
          {% for web_project in web_projects %}
            <div class="tab-pane {% if web_project.id == "1" %}active{% endif %}" id="tab_w{{ web_project.id }}">
            {{ web_project.html_body | safe }}
            </div>
          {% endfor %}
          </div>

        </div>
      </div> <!-- <div class="tab-pane" id="tab_web"> -->


      <div class="tab-pane" id="tab_science">
        <div class="jumbotron">

          <ul class="nav nav-tabs">
          {% for science_project in science_projects %}
            <li class="{% if datasci_project.id == "1" %}active{% endif %}">
              <a href="#tab_s{{ science_project.id }}" data-toggle="tab"><b>{{ science_project.title }}</b></a>
            </li>
          {% endfor %}
          </ul>


          <div class="tab-content">
          {% for science_project in science_projects %}
            <div class="tab-pane {% if science_project.id == "1" %}active{% endif %}" id="tab_s{{ science_project.id }}">
            {{ science_project.html_body | safe }}
            </div>
          {% endfor %}
          </div>

        </div>
      </div> <!-- <div class="tab-pane" id="tab_science"> -->







      <div class="tab-pane" id="tab_contactme">
        <div class="jumbotron">
              <hr width="100%" style="margin: 2px 0;"> <br>
              <b>Email</b><br>
              sidazhou@gmail.com<br>
              <hr width="33%" style="margin: 2px 0;">

              <b>Phone</b><br>
              +86 185 1065 1801<br>
              <hr width="33%" style="margin: 2px 0;">

              <b>GitHub</b><br>
              <a href="http://github.com/sidazhou">http://github.com/sidazhou </a><br>
              <hr width="33%" style="margin: 2px 0;">

              <b>Stack Overflow</b><br>
              <a href="http://stackoverflow.com/users/2202107/sida-zhou">http://stackoverflow.com/users/2202107/sida-zhou</a><br>
              <hr width="33%" style="margin: 2px 0;">


              <b>LinkedIn</b><br>
              <a href="http://ca.linkedin.com/pub/sida-zhou/69/766/42b">http://ca.linkedin.com/pub/sida-zhou/69/766/42b </a><br>
              <hr width="33%" style="margin: 2px 0;">

              <div notes="hidden" style="color:white;">
                <b>Facebook</b><br>
                http://www.facebook.com/sidazhou
                <hr width="33%" style="margin: 2px 0;">

                <b>WordPress</b><br>
                http://sidazhou.wordpress.com/
                <hr width="33%" style="margin: 2px 0;">
              </div>


        </div>
      </div>
    </div>



</div>




</div> <!-- .row -->

</div>

{% endblock application %}
